sigdir/
!sigdir/abbrevs.txt
!sigdir/JSTreeAbbrevs.txt
.goutputstream-J0DYYX
exampleInputs/
*~
output/*
!output/heatmap_canvas*.js
scripts/scratch/*
*.pyc
*.swp
*.swo
wksp/NewSigs/*
wksp/test*
matrixAnalysis/*
